### Here I have made codes that allows us to get the lastest S&P 500 company makrket cap size rankings by sectors.
### I have picked top 3 large firms by sub-sectors. In order to get the lastest version of the S&P 500 company list, I have used Wikipedia as a source.

In [1]:
import pandas as pd
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
import time
import yfinance as yf
%matplotlib inline

# There are 2 tables on the Wikipedia page
# we want the first table

payload=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = payload[0]
second_table = payload[1]
df = first_table

In [2]:
# This is the original S&P 500 table that we got from the Wikipedia

df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [3]:
# As there is no market capital data, I have used Yahoofinance as a source to get the market captial data.

df['marketcap'] = df['Symbol'].apply(lambda x: yf.Ticker(x).info['marketCap'])

In [4]:
# Since it takes a lot of time to add marketCap at the dataframe, I have exported this table as an exel form.

df.to_excel('df_with_marketcap.xlsx') 
df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded,marketcap
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902,8.888030e+10
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,1.138230e+10
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,2.187375e+11
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),2.579160e+11
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981,1.481188e+10
...,...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,3.615796e+10
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,2.303168e+10
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,2.559123e+10
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,1.156418e+10
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,9.230216e+10

In [28]:
# Now I have sorted table by sub sectors and picked top 3 large firms .
df_rank3 = df.sort_values(['GICS Sector','marketcap','GICS Sub-Industry'], ascending=False).groupby('GICS Sub-Industry').head(3)[['Symbol','GICS Sector','GICS Sub-Industry','marketcap']]; 
df_rank3.to_excel('df_rank3.xlsx'); df_rank3

PermissionError: [Errno 13] Permission denied: 'df_rank3.xlsx'

In [29]:
df_rank10 = df.sort_values(['GICS Sector','marketcap','GICS Sub-Industry'], ascending=False).groupby('GICS Sub-Industry').head(10)[['Symbol','GICS Sector','GICS Sub-Industry','marketcap']]; 
df_rank10.to_excel('df_rank10.xlsx'); df_rank10

    Symbol             GICS Sector     GICS Sub-Industry     marketcap
337    NEE               Utilities       Multi-Utilities  1.476118e+11
160    DUK               Utilities    Electric Utilities  7.655732e+10
423     SO               Utilities    Electric Utilities  6.874923e+10
155      D               Utilities    Electric Utilities  6.371546e+10
415    SRE               Utilities       Multi-Utilities  4.318394e+10
..     ...                     ...                   ...           ...
150  DISCA  Communication Services          Broadcasting  1.461132e+10
254    IPG  Communication Services           Advertising  1.441143e+10
336    NWS  Communication Services            Publishing  1.411412e+10
335   NWSA  Communication Services            Publishing  1.406651e+10
294   LUMN  Communication Services  Alternative Carriers  1.009555e+10

[474 rows x 4 columns]

In [37]:
df_rank10 = df.sort_values(['GICS Sub-Industry','marketcap'], ascending=False).groupby('GICS Sub-Industry').head(10)[['Symbol','GICS Sector','GICS Sub-Industry','marketcap']]; 
df_rank10.to_excel('df_rank10.xlsx'); df_rank10

,Symbol,GICS Sector,GICS Sub-Industry,marketcap
434,TMUS,Communication Services,Wireless Telecommunication Services,1.592039e+11
35,AWK,Utilities,Water Utilities,2.655719e+10
354,ODFL,Industrials,Trucking,3.418932e+10
264,JBHT,Industrials,Trucking,2.005767e+10
466,URI,Industrials,Trading Companies & Distributors,2.353687e+10
...,...,...,...,...
440,TDY,Industrials,Aerospace & Defense,1.989704e+10
445,TXT,Industrials,Aerospace & Defense,1.591468e+10
238,HWM,Industrials,Aerospace & Defense,1.526450e+10
355,OMC,Communication Services,Advertising,1.835234e+10
254,IPG,Communication Services,Advertising,1.441143e+10

In [46]:
df_all_rank = df.sort_values(by=['GICS Sector', 'GICS Sub-Industry','marketcap'], ascending=[True, True, False])[['Symbol','GICS Sector','GICS Sub-Industry','marketcap']]; 
df_all_rank.to_excel('df_all_rank.xlsx'); df_all_rank

    Symbol             GICS Sector     GICS Sub-Industry     marketcap
355    OMC  Communication Services           Advertising  1.835234e+10
254    IPG  Communication Services           Advertising  1.441143e+10
294   LUMN  Communication Services  Alternative Carriers  1.009555e+10
151  DISCK  Communication Services          Broadcasting  1.501631e+10
150  DISCA  Communication Services          Broadcasting  1.461132e+10
..     ...                     ...                   ...           ...
97     CNP               Utilities       Multi-Utilities  1.690392e+10
340     NI               Utilities       Multi-Utilities  1.115282e+10
374    PNW               Utilities       Multi-Utilities  7.710050e+09
127    CEG               Utilities       Multi-Utilities           NaN
35     AWK               Utilities       Water Utilities  2.655719e+10

[505 rows x 4 columns]