In [92]:
import pandas as pd
import numpy as np

s = pd.Series([1, 3, 4, np.nan, 6, 8])

In [93]:
dates = pd.date_range('20200101', periods= 6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [94]:
values = np.random.randn(6,6)

df = pd.DataFrame(values, index = dates, columns = ['a','b','c','d','e','f'])
df

                   a         b         c         d         e         f
2020-01-01  0.723955 -1.030835 -0.004460  1.086159  0.251154 -0.599071
2020-01-02 -0.694766  1.734956  0.829838  0.273335  0.574685  1.054961
2020-01-03  2.028360  1.255944 -0.461601  0.796749 -0.994156 -1.430733
2020-01-04 -0.156407  0.005899  0.345648 -0.169138  0.858745 -1.111684
2020-01-05 -2.605999 -0.072044  0.176238  0.268151  0.668806 -0.742019
2020-01-06 -0.575980 -0.409554  2.352375  0.770565  1.215936 -2.026699

In [95]:
In [9]: df2 = pd.DataFrame(
{
"A": 1.0,
"B": pd.Timestamp("20130102"),
"C": pd.Series(1, index=list(range(4)), dtype="float32"),
"D": np.array([3] * 4, dtype="int32"),
"E": pd.Categorical(["test", "train", "test", "train"]),
"F": "foo"}
)

In [96]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [97]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [98]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [99]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [100]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [101]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [102]:
import pandas as pd
df = pd.DataFrame([31, 2, 28, 9, 15], index=[100, 29, 234, 1, 150], columns=['A'])

# df.sort_index(inplace=True)

In [103]:
filename = './data/all_data_total_EU_GDP_CA.csv'
df = pd.read_csv(filename)

In [104]:
dates = pd.date_range('20200301', periods =5)

df2 = df.loc[df['country'] == 'EU'].iloc[1:6].sort_values(by = 'CA', ascending = False).sort_index(ascending = False)
df2

,country,year,CA,inflation,education,unemployment rate,GDP growth rate
125,EU,2011,-52600,2.9,1.393386,9.933333,1.800
124,EU,2010,-58028,1.8,1.393386,9.925000,2.200
123,EU,2009,-48781,0.8,1.693330,9.200000,-4.300
122,EU,2008,-37986,3.7,1.693330,7.258333,0.645
121,EU,2007,-57047,2.4,1.693330,7.516667,3.152

In [109]:
dates = pd.date_range('20200301', periods =135)

df3 = df[['education','inflation']].set_index(dates)
# df3['2020-03-04':'2020-03-30']

In [106]:
df3

            education  inflation
2020-03-01   9.912729        4.2
2020-03-02   9.912729        3.6
2020-03-03   9.912729        5.7
2020-03-04   9.912729        4.9
2020-03-05   8.328785        5.0
...               ...        ...
2020-07-09   1.130620        0.2
2020-07-10   1.130620        1.6
2020-07-11   1.130620        1.8
2020-07-12   1.130620        1.4
2020-07-13   0.913340        0.7

[135 rows x 2 columns]

In [110]:
df

,country,year,CA,inflation,education,unemployment rate,GDP growth rate
0,Brazil,2006,2473,4.2,9.912729,8.640000,24.226425
1,Brazil,2007,2451,3.6,9.912729,8.330000,26.131594
2,Brazil,2008,3441,5.7,9.912729,7.340000,21.383119
3,Brazil,2009,2917,4.9,9.912729,8.520000,-1.698571
4,Brazil,2010,3655,5.0,8.328785,7.740000,32.504225
...,...,...,...,...,...,...,...
130,EU,2016,-108255,0.2,1.130620,9.150000,2.100000
131,EU,2017,-99874,1.6,1.130620,8.158334,2.800000
132,EU,2018,-111992,1.8,1.130620,7.283333,2.100000
133,EU,2019,-113119,1.4,1.130620,6.716667,1.600000
134,EU,2020,-72205,0.7,0.913340,7.150000,-6.100000

In [113]:
df.set_index(dates, inplace= True)

In [114]:
df

,country,year,CA,inflation,education,unemployment rate,GDP growth rate
2020-03-01,Brazil,2006,2473,4.2,9.912729,8.640000,24.226425
2020-03-02,Brazil,2007,2451,3.6,9.912729,8.330000,26.131594
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.340000,21.383119
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.520000,-1.698571
2020-03-05,Brazil,2010,3655,5.0,8.328785,7.740000,32.504225
...,...,...,...,...,...,...,...
2020-07-09,EU,2016,-108255,0.2,1.130620,9.150000,2.100000
2020-07-10,EU,2017,-99874,1.6,1.130620,8.158334,2.800000
2020-07-11,EU,2018,-111992,1.8,1.130620,7.283333,2.100000
2020-07-12,EU,2019,-113119,1.4,1.130620,6.716667,1.600000
2020-07-13,EU,2020,-72205,0.7,0.913340,7.150000,-6.100000

In [117]:
df.loc[dates[2:5]]

,country,year,CA,inflation,education,unemployment rate,GDP growth rate
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.34,21.383119
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.52,-1.698571
2020-03-05,Brazil,2010,3655,5.0,8.328785,7.74,32.504225

In [118]:
df.loc[:,['CA','inflation']]

                CA  inflation
2020-03-01    2473        4.2
2020-03-02    2451        3.6
2020-03-03    3441        5.7
2020-03-04    2917        4.9
2020-03-05    3655        5.0
...            ...        ...
2020-07-09 -108255        0.2
2020-07-10  -99874        1.6
2020-07-11 -111992        1.8
2020-07-12 -113119        1.4
2020-07-13  -72205        0.7

[135 rows x 2 columns]

In [120]:
df.loc[dates[2:7],['CA','inflation']]

              CA  inflation
2020-03-03  3441        5.7
2020-03-04  2917        4.9
2020-03-05  3655        5.0
2020-03-06  3286        6.6
2020-03-07  3053        5.4

In [125]:
df.loc['2020-03-01':'2020-04-29',['education','unemployment rate']]

            education  unemployment rate
2020-03-01   9.912729           8.640000
2020-03-02   9.912729           8.330000
2020-03-03   9.912729           7.340000
2020-03-04   9.912729           8.520000
2020-03-05   8.328785           7.740000
2020-03-06   8.328785           6.920000
2020-03-07   8.328785           7.190000
2020-03-08   8.328785           6.980000
2020-03-09   8.328785           6.660000
2020-03-10   6.933517           8.430000
2020-03-11   6.933517          11.600000
2020-03-12   6.933517          12.820000
2020-03-13   6.933517          12.330000
2020-03-14   6.933517          12.080000
2020-03-15   5.720481          11.970000
2020-03-16   0.490316           6.350000
2020-03-17   0.490316           6.066667
2020-03-18   0.490316           6.175000
2020-03-19   0.490316           8.375000
2020-03-20   0.369564           8.116667
2020-03-21   0.369564           7.558333
2020-03-22   0.369564           7.333333
2020-03-23   0.369564           7.125000
2020-03-24   0.369564           6.941667
2020-03-25   0.279892           6.941667
2020-03-26   0.279892           7.050000
2020-03-27   0.279892           6.400000
2020-03-28   0.279892           5.891667
2020-03-29   0.279892           5.733333
2020-03-30   0.211343           9.558333
2020-03-31   8.975572           4.430000
2020-04-01   8.975572           4.000000
2020-04-02   8.975572           4.200000
2020-04-03   8.975572           4.300000
2020-04-04   7.055341           4.140000
2020-04-05   7.055341           4.090000
2020-04-06   7.055341           4.090000
2020-04-07   7.055341           4.050000
2020-04-08   7.055341           4.090000
2020-04-09   5.491684           4.050000
2020-04-10   5.491684           4.020000
2020-04-11   5.491684           3.900000
2020-04-12   5.491684           3.800000
2020-04-13   5.491684           3.620000
2020-04-14   4.288933           4.200000
2020-04-15  37.295974           5.320000
2020-04-16  37.295974           5.280000
2020-04-17  37.295974           5.570000
2020-04-18  37.295974           5.640000
2020-04-19  33.439299           5.600000
2020-04-20  33.439299           5.650000
2020-04-21  33.439299           5.670000
2020-04-22  33.439299           5.610000
2020-04-23  33.439299           5.570000
2020-04-24  29.922213           5.510000
2020-04-25  29.922213           5.420000
2020-04-26  29.922213           5.330000
2020-04-27  29.922213           5.360000
2020-04-28  29.922213           5.360000
2020-04-29  26.706188           5.400000

In [127]:
df.iloc[1:3,2:5]

              CA  inflation  education
2020-03-02  2451        3.6   9.912729
2020-03-03  3441        5.7   9.912729

In [128]:
df.iloc[[2,3,7],:]

,country,year,CA,inflation,education,unemployment rate,GDP growth rate
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.34,21.383119
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.52,-1.698571
2020-03-08,Brazil,2013,3224,6.2,8.328785,6.98,0.309033

In [136]:
df['inflation'][df['inflation']>0]

2020-03-01    4.2
2020-03-02    3.6
2020-03-03    5.7
2020-03-04    4.9
2020-03-05    5.0
             ...
2020-07-09    0.2
2020-07-10    1.6
2020-07-11    1.8
2020-07-12    1.4
2020-07-13    0.7
Name: inflation, Length: 120, dtype: float64

In [138]:
df[df['country'].isin(['Brazil','EU'])]

,country,year,CA,inflation,education,unemployment rate,GDP growth rate
2020-03-01,Brazil,2006,2473,4.2,9.912729,8.640000,24.226425
2020-03-02,Brazil,2007,2451,3.6,9.912729,8.330000,26.131594
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.340000,21.383119
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.520000,-1.698571
2020-03-05,Brazil,2010,3655,5.0,8.328785,7.740000,32.504225
2020-03-06,Brazil,2011,3286,6.6,8.328785,6.920000,18.440607
2020-03-07,Brazil,2012,3053,5.4,8.328785,7.190000,-5.772198
2020-03-08,Brazil,2013,3224,6.2,8.328785,6.980000,0.309033
2020-03-09,Brazil,2014,2945,6.3,8.328785,6.660000,-0.679928
2020-03-10,Brazil,2015,2762,9.0,6.933517,8.430000,-26.619745
2020-03-11,Brazil,2016,2681,8.7,6.933517,11.600000,-0.361456
2020-03-12,Brazil,2017,2771,3.4,6.933517,12.820000,14.876140
2020-03-13,Brazil,2018,3859,3.7,6.933517,12.330000,-8.597336
2020-03-14,Brazil,2019,3356,3.7,6.933517,12.080000,-2.425082
2020-03-15,Brazil,2020,2832,3.2,5.720481,11.970000,0.583997
2020-06-29,EU,2006,-41134,2.3,1.693330,8.691667,3.400000
2020-06-30,EU,2007,-57047,2.4,1.693330,7.516667,3.152000
2020-07-01,EU,2008,-37986,3.7,1.693330,7.258333,0.645000
2020-07-02,EU,2009,-48781,0.8,1.693330,9.200000,-4.300000
2020-07-03,EU,2010,-58028,1.8,1.393386,9.925000,2.200000
2020-07-04,EU,2011,-52600,2.9,1.393386,9.933333,1.800000
2020-07-05,EU,2012,-81354,2.6,1.393386,10.933330,-0.400000
2020-07-06,EU,2013,-97270,1.3,1.393386,11.441670,0.300000
2020-07-07,EU,2014,-109969,0.4,1.393386,10.900000,1.800000
2020-07-08,EU,2015,-111525,0.1,1.130620,10.066670,2.300000
2020-07-09,EU,2016,-108255,0.2,1.130620,9.150000,2.100000
2020-07-10,EU,2017,-99874,1.6,1.130620,8.158334,2.800000
2020-07-11,EU,2018,-111992,1.8,1.130620,7.283333,2.100000
2020-07-12,EU,2019,-113119,1.4,1.130620,6.716667,1.600000
2020-07-13,EU,2020,-72205,0.7,0.913340,7.150000,-6.100000

In [144]:
df

,country,year,CA,inflation,education,unemployment rate,GDP growth rate,New
2020-03-01,Brazil,2006,2473,4.2,9.912729,8.640000,24.226425,10
2020-03-02,Brazil,2007,2451,3.6,9.912729,8.330000,26.131594,10
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.340000,21.383119,10
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.520000,-1.698571,10
2020-03-05,Brazil,2010,3655,5.0,8.328785,7.740000,32.504225,10
...,...,...,...,...,...,...,...,...
2020-07-09,EU,2016,-108255,0.2,1.130620,9.150000,2.100000,10
2020-07-10,EU,2017,-99874,1.6,1.130620,8.158334,2.800000,10
2020-07-11,EU,2018,-111992,1.8,1.130620,7.283333,2.100000,10
2020-07-12,EU,2019,-113119,1.4,1.130620,6.716667,1.600000,10
2020-07-13,EU,2020,-72205,0.7,0.913340,7.150000,-6.100000,10

In [146]:
df['New'] = np.array([10]*len(df))
df

,country,year,CA,inflation,education,unemployment rate,GDP growth rate,New
2020-03-01,Brazil,2006,2473,4.2,9.912729,8.640000,24.226425,10
2020-03-02,Brazil,2007,2451,3.6,9.912729,8.330000,26.131594,10
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.340000,21.383119,10
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.520000,-1.698571,10
2020-03-05,Brazil,2010,3655,5.0,8.328785,7.740000,32.504225,10
...,...,...,...,...,...,...,...,...
2020-07-09,EU,2016,-108255,0.2,1.130620,9.150000,2.100000,10
2020-07-10,EU,2017,-99874,1.6,1.130620,8.158334,2.800000,10
2020-07-11,EU,2018,-111992,1.8,1.130620,7.283333,2.100000,10
2020-07-12,EU,2019,-113119,1.4,1.130620,6.716667,1.600000,10
2020-07-13,EU,2020,-72205,0.7,0.913340,7.150000,-6.100000,10

In [152]:
df_all2 = df.reindex(index = [i for i in range(135)], columns=list(df.columns))

In [154]:
df_all2.dropna(how='any')

Empty DataFrame
Columns: [country, year, CA, inflation, education, unemployment rate, GDP growth rate, New]
Index: []

In [155]:
df_all2.fillna(value=10)

,country,year,CA,inflation,education,unemployment rate,GDP growth rate,New
0,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
1,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
2,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
3,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
4,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
...,...,...,...,...,...,...,...,...
130,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
131,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
132,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
133,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0
134,10,10.0,10.0,10.0,10.0,10.0,10.0,10.0

In [156]:
pd.isna(df_all2)

,country,year,CA,inflation,education,unemployment rate,GDP growth rate,New
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
130,True,True,True,True,True,True,True,True
131,True,True,True,True,True,True,True,True
132,True,True,True,True,True,True,True,True
133,True,True,True,True,True,True,True,True
134,True,True,True,True,True,True,True,True

In [157]:
df.mean()

year                  2013.000000
CA                   16416.674074
inflation                3.197778
education                6.094824
unemployment rate        6.126633
GDP growth rate          5.209086
New                     10.000000
dtype: float64

In [162]:
df.mean(0)

year                  2013.000000
CA                   16416.674074
inflation                3.197778
education                6.094824
unemployment rate        6.126633
GDP growth rate          5.209086
New                     10.000000
dtype: float64

In [165]:
df

,country,year,CA,inflation,education,unemployment rate,GDP growth rate,New
2020-03-01,Brazil,2006,2473,4.2,9.912729,8.640000,24.226425,10
2020-03-02,Brazil,2007,2451,3.6,9.912729,8.330000,26.131594,10
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.340000,21.383119,10
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.520000,-1.698571,10
2020-03-05,Brazil,2010,3655,5.0,8.328785,7.740000,32.504225,10
...,...,...,...,...,...,...,...,...
2020-07-09,EU,2016,-108255,0.2,1.130620,9.150000,2.100000,10
2020-07-10,EU,2017,-99874,1.6,1.130620,8.158334,2.800000,10
2020-07-11,EU,2018,-111992,1.8,1.130620,7.283333,2.100000,10
2020-07-12,EU,2019,-113119,1.4,1.130620,6.716667,1.600000,10
2020-07-13,EU,2020,-72205,0.7,0.913340,7.150000,-6.100000,10

In [171]:
df_test = df['inflation']
df_test

2020-03-01    4.2
2020-03-02    3.6
2020-03-03    5.7
2020-03-04    4.9
2020-03-05    5.0
             ...
2020-07-09    0.2
2020-07-10    1.6
2020-07-11    1.8
2020-07-12    1.4
2020-07-13    0.7
Freq: D, Name: inflation, Length: 135, dtype: float64

In [170]:
df_test.apply(lambda x:x.max()-x.min())

AttributeError: 'float' object has no attribute 'max'

In [174]:
df['country'].str.lower()

2020-03-01    brazil
2020-03-02    brazil
2020-03-03    brazil
2020-03-04    brazil
2020-03-05    brazil
               ...
2020-07-09        eu
2020-07-10        eu
2020-07-11        eu
2020-07-12        eu
2020-07-13        eu
Freq: D, Name: country, Length: 135, dtype: object

In [177]:
df_inf = df['inflation']
df_con = df['country']
df_year = df['year']

pd.concat([df_inf,df_con, df_year])

2020-03-01     4.2
2020-03-02     3.6
2020-03-03     5.7
2020-03-04     4.9
2020-03-05     5.0
              ...
2020-07-09    2016
2020-07-10    2017
2020-07-11    2018
2020-07-12    2019
2020-07-13    2020
Length: 405, dtype: object

In [178]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

In [179]:
left

   key  lval
0  foo     1
1  foo     2

In [180]:
right

   key  rval
0  foo     4
1  foo     5

In [181]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [182]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["bar", "foo"], "rval": [4, 5]})

In [183]:
pd.merge(left,right, on='key')

   key  lval  rval
0  foo     1     5
1  bar     2     4

In [188]:
df.groupby(['country','year']).sum().stack()

country  year
Brazil   2006  CA                   2473.000000
               inflation               4.200000
               education               9.912729
               unemployment rate       8.640000
               GDP growth rate        24.226425
                                       ...
USA      2020  inflation               1.200000
               education               0.204699
               unemployment rate       8.091666
               GDP growth rate        -2.317277
               New                    10.000000
Length: 810, dtype: float64

In [192]:
df.stack().unstack(1)

,country,year,CA,inflation,education,unemployment rate,GDP growth rate,New
2020-03-01,Brazil,2006,2473,4.2,9.912729,8.64,24.226425,10
2020-03-02,Brazil,2007,2451,3.6,9.912729,8.33,26.131594,10
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.34,21.383119,10
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.52,-1.698571,10
2020-03-05,Brazil,2010,3655,5.0,8.328785,7.74,32.504225,10
...,...,...,...,...,...,...,...,...
2020-07-09,EU,2016,-108255,0.2,1.13062,9.15,2.1,10
2020-07-10,EU,2017,-99874,1.6,1.13062,8.158334,2.8,10
2020-07-11,EU,2018,-111992,1.8,1.13062,7.283333,2.1,10
2020-07-12,EU,2019,-113119,1.4,1.13062,6.716667,1.6,10
2020-07-13,EU,2020,-72205,0.7,0.91334,7.15,-6.1,10

In [190]:
df

,country,year,CA,inflation,education,unemployment rate,GDP growth rate,New
2020-03-01,Brazil,2006,2473,4.2,9.912729,8.640000,24.226425,10
2020-03-02,Brazil,2007,2451,3.6,9.912729,8.330000,26.131594,10
2020-03-03,Brazil,2008,3441,5.7,9.912729,7.340000,21.383119,10
2020-03-04,Brazil,2009,2917,4.9,9.912729,8.520000,-1.698571,10
2020-03-05,Brazil,2010,3655,5.0,8.328785,7.740000,32.504225,10
...,...,...,...,...,...,...,...,...
2020-07-09,EU,2016,-108255,0.2,1.130620,9.150000,2.100000,10
2020-07-10,EU,2017,-99874,1.6,1.130620,8.158334,2.800000,10
2020-07-11,EU,2018,-111992,1.8,1.130620,7.283333,2.100000,10
2020-07-12,EU,2019,-113119,1.4,1.130620,6.716667,1.600000,10
2020-07-13,EU,2020,-72205,0.7,0.913340,7.150000,-6.100000,10

In [196]:
df['country'].categories

AttributeError: 'Series' object has no attribute 'categories'