### Here I wrote a code that allows us to check how much index has decreased from All Time High value.
### Indexs that I have selected are SP500, DOW, NASDAQ, and RUSSEL 2000

In [114]:
# Import the yfinance. If you get module not found error the run !pip install yfinance from your Jupyter notebook
import yfinance as yf
import pandas as pd

In [115]:
tickers_list = ['^DJI','^GSPC','^NDX','^RUT']

# Fetch the data
p_data = yf.download(tickers_list,'2000-1-1')['Adj Close']

# Print first 5 rows of the data
print(p_data.head())
print(p_data.tail())

[*********************100%***********************]  4 of 4 completed
                    ^DJI        ^GSPC         ^NDX        ^RUT
Date
1999-12-31  11497.120117  1469.250000  3707.830078  504.750000
2000-01-03  11357.509766  1455.219971  3790.550049  496.420013
2000-01-04  10997.929688  1399.420044  3546.199951  478.380005
2000-01-05  11122.650391  1402.109985  3507.310059  478.829987
2000-01-06  11253.259766  1403.449951  3340.810059  475.339996
                    ^DJI        ^GSPC          ^NDX         ^RUT
Date
2022-02-15  34988.839844  4471.069824  14620.820312  2076.459961
2022-02-16  34934.269531  4475.009766  14603.639648  2079.310059
2022-02-17  34312.031250  4380.259766  14171.740234  2028.089966
2022-02-18  34079.179688  4348.870117  14009.540039  2009.329956
2022-02-22  33596.609375  4304.759766  13870.529297  1978.734375

In [116]:
# Get the all time high value 
ath_dic = dict(p_data[['^DJI', '^GSPC', '^NDX', '^RUT']].max()); 

# Get the latest values
lastest_dic = dict(p_data.iloc[-1,:])

print(ath_dic) 
print(lastest_dic)

{'^DJI': 36799.6484375, '^GSPC': 4796.56005859375, '^NDX': 16573.33984375, '^RUT': 2442.739990234375}
{'^DJI': 33596.609375, '^GSPC': 4304.759765625, '^NDX': 13870.529296875, '^RUT': 1978.734375}

In [117]:
df_all = pd.read_excel(r"C:\Users\Jinhyun\Documents\GitHub\Python\Investment\Drop rate from All Time High\ATH_v2.xlsx", sheet_name=None, header = 1)
df_ath = df_all['ATH']
display(df_ath)

     Unnamed: 0  DOW  S&P 500  NASDAQ  RUSSELL2000   Unnamed: 5
0    % from ATH  NaN      NaN     NaN          NaN          NaN
1        -0.001  NaN      NaN     NaN          NaN     PULLBACK
2        -0.002  NaN      NaN     NaN          NaN     PULLBACK
3        -0.003  NaN      NaN     NaN          NaN     PULLBACK
4        -0.004  NaN      NaN     NaN          NaN     PULLBACK
..          ...  ...      ...     ...          ...          ...
198      -0.198  NaN      NaN     NaN          NaN  BEAR MARKET
199      -0.199  NaN      NaN     NaN          NaN  BEAR MARKET
200        -0.2  NaN      NaN     NaN          NaN  BEAR MARKET
201         NaN  NaN      NaN     NaN          NaN          NaN
202  % from ATH  NaN      NaN     NaN          NaN          NaN

[203 rows x 6 columns]

In [118]:
# Chnage name of columns 
df_ath.columns = ['Change', 'DOW', 'S&P 500', 'NASDAQ', 'RUSSELL2000', 'Situation']
display(df_ath)

         Change  DOW  S&P 500  NASDAQ  RUSSELL2000    Situation
0    % from ATH  NaN      NaN     NaN          NaN          NaN
1        -0.001  NaN      NaN     NaN          NaN     PULLBACK
2        -0.002  NaN      NaN     NaN          NaN     PULLBACK
3        -0.003  NaN      NaN     NaN          NaN     PULLBACK
4        -0.004  NaN      NaN     NaN          NaN     PULLBACK
..          ...  ...      ...     ...          ...          ...
198      -0.198  NaN      NaN     NaN          NaN  BEAR MARKET
199      -0.199  NaN      NaN     NaN          NaN  BEAR MARKET
200        -0.2  NaN      NaN     NaN          NaN  BEAR MARKET
201         NaN  NaN      NaN     NaN          NaN          NaN
202  % from ATH  NaN      NaN     NaN          NaN          NaN

[203 rows x 6 columns]

In [119]:
df_ath_chag = df_ath.iloc[1:201,:] 
display(df_ath_chag)

    Change  DOW  S&P 500  NASDAQ  RUSSELL2000    Situation
1   -0.001  NaN      NaN     NaN          NaN     PULLBACK
2   -0.002  NaN      NaN     NaN          NaN     PULLBACK
3   -0.003  NaN      NaN     NaN          NaN     PULLBACK
4   -0.004  NaN      NaN     NaN          NaN     PULLBACK
5   -0.005  NaN      NaN     NaN          NaN     PULLBACK
..     ...  ...      ...     ...          ...          ...
196 -0.196  NaN      NaN     NaN          NaN  BEAR MARKET
197 -0.197  NaN      NaN     NaN          NaN  BEAR MARKET
198 -0.198  NaN      NaN     NaN          NaN  BEAR MARKET
199 -0.199  NaN      NaN     NaN          NaN  BEAR MARKET
200   -0.2  NaN      NaN     NaN          NaN  BEAR MARKET

[200 rows x 6 columns]

In [120]:
# {'^DJI': 36799.6484375, '^GSPC': 4796.56005859375, '^NDX': 16573.33984375, '^RUT': 2442.739990234375}
df_ath_chag['DOW'] = (1+df_ath_chag['Change'])*ath_dic['^DJI']
df_ath_chag['S&P 500'] = (1+df_ath_chag['Change'])*ath_dic['^GSPC'] 
df_ath_chag['NASDAQ'] =(1+df_ath_chag['Change'])*ath_dic['^NDX'] 
df_ath_chag['RUSSELL2000'] = (1+df_ath_chag['Change'])*ath_dic['^RUT'] 

display(df_ath_chag)

C:\Users\Jinhyun\AppData\Local\Temp/ipykernel_22132/44799319.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ath_chag['DOW'] = (1+df_ath_chag['Change'])*ath_dic['^DJI']
C:\Users\Jinhyun\AppData\Local\Temp/ipykernel_22132/44799319.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ath_chag['S&P 500'] = (1+df_ath_chag['Change'])*ath_dic['^GSPC']
C:\Users\Jinhyun\AppData\Local\Temp/ipykernel_22132/44799319.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ath_chag['NASDAQ'] =(1+df_ath_chag['Change'])*ath_dic['^NDX']
C:\Users\Jinhyun\AppData\Local\Temp/ipykernel_22132/44799319.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ath_chag['RUSSELL2000'] = (1+df_ath_chag['Change'])*ath_dic['^RUT']

    Change           DOW      S&P 500        NASDAQ  RUSSELL2000    Situation
1   -0.001  36762.848789  4791.763499  16556.766504   2440.29725     PULLBACK
2   -0.002  36726.049141  4786.966938  16540.193164   2437.85451     PULLBACK
3   -0.003  36689.249492  4782.170378  16523.619824   2435.41177     PULLBACK
4   -0.004  36652.449844  4777.373818  16507.046484   2432.96903     PULLBACK
5   -0.005  36615.650195  4772.577258  16490.473145   2430.52629     PULLBACK
..     ...           ...          ...           ...          ...          ...
196 -0.196  29586.917344  3856.434287  13324.965234  1963.962952  BEAR MARKET
197 -0.197  29550.117695  3851.637727  13308.391895  1961.520212  BEAR MARKET
198 -0.198  29513.318047  3846.841167  13291.818555  1959.077472  BEAR MARKET
199 -0.199  29476.518398  3842.044607  13275.245215  1956.634732  BEAR MARKET
200   -0.2   29439.71875  3837.248047  13258.671875  1954.191992  BEAR MARKET

[200 rows x 6 columns]

In [121]:
print(ath_dic)
print(lastest_dic)

lastest_dic['^DJI']

sorted(list(ath_dic))
sorted(list(lastest_dic))

{'^DJI': 36799.6484375, '^GSPC': 4796.56005859375, '^NDX': 16573.33984375, '^RUT': 2442.739990234375}
{'^DJI': 33596.609375, '^GSPC': 4304.759765625, '^NDX': 13870.529296875, '^RUT': 1978.734375}

['^DJI', '^GSPC', '^NDX', '^RUT']

In [122]:
result = {}
for index in list(ath_dic):
    result[index] = (ath_dic[index] -lastest_dic[index] )/lastest_dic[index] * 100

result

{'^DJI': 9.533816423997399,
 '^GSPC': 11.424570004950008,
 '^NDX': 19.485994290671645,
 '^RUT': 23.449616133260687}