### Here I wrote a code that allows us to check how much index has decreased from All Time High value.
### Indexs that I have selected are SP500, DOW, NASDAQ, and RUSSEL 2000

In [6]:
# Import the yfinance. If you get module not found error the run !pip install yfinance from your Jupyter notebook
!pip install yfinance
import yfinance as yf
import pandas as pd

Requirement already satisfied: yfinance in c:\users\jinhyun\envs\lib\site-packages (0.1.70)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\jinhyun\envs\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.26 in c:\users\jinhyun\envs\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: lxml>=4.5.1 in c:\users\jinhyun\envs\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: numpy>=1.15 in c:\users\jinhyun\envs\lib\site-packages (from yfinance) (1.21.4)
Requirement already satisfied: pandas>=0.24.0 in c:\users\jinhyun\envs\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jinhyun\envs\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\jinhyun\envs\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jinhyun\envs\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jinhyun\envs\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jinhyun\envs\lib\site-packages (from requests>=2.26->yfinance) (1.25.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jinhyun\envs\lib\site-packages (from requests>=2.26->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jinhyun\envs\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)

In [7]:
tickers_list = ['^DJI','^GSPC','^NDX','^RUT']

# Fetch the data
p_data = yf.download(tickers_list,'1900-1-1')['Adj Close']

# Print first 5 rows of the data
print(p_data.head())
print(p_data.tail())

Exception in thread Thread-11:
Traceback (most recent call last):
  File "C:\Users\Jinhyun\Envs\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "C:\Users\Jinhyun\Envs\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\multitasking\__init__.py", line 104, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\multi.py", line 190, in _download_one_threaded
    timeout)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\multi.py", line 207, in _download_one
    timeout=timeout)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\base.py", line 153, in history
    _time.strptime(str(start), '%Y-%m-%d')))
OverflowError: mktime argument out of range

Exception in thread Thread-12:
Traceback (most recent call last):
  File "C:\Users\Jinhyun\Envs\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "C:\Users\Jinhyun\Envs\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\multitasking\__init__.py", line 104, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\multi.py", line 190, in _download_one_threaded
    timeout)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\multi.py", line 207, in _download_one
    timeout=timeout)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\base.py", line 153, in history
    _time.strptime(str(start), '%Y-%m-%d')))
OverflowError: mktime argument out of range

Exception in thread Thread-10:
Traceback (most recent call last):
  File "C:\Users\Jinhyun\Envs\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "C:\Users\Jinhyun\Envs\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\multitasking\__init__.py", line 104, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\multi.py", line 190, in _download_one_threaded
    timeout)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\multi.py", line 207, in _download_one
    timeout=timeout)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\base.py", line 153, in history
    _time.strptime(str(start), '%Y-%m-%d')))
OverflowError: mktime argument out of range

Exception in thread Thread-13:
Traceback (most recent call last):
  File "C:\Users\Jinhyun\Envs\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "C:\Users\Jinhyun\Envs\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\multitasking\__init__.py", line 104, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\multi.py", line 190, in _download_one_threaded
    timeout)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\multi.py", line 207, in _download_one
    timeout=timeout)
  File "C:\Users\Jinhyun\Envs\lib\site-packages\yfinance\base.py", line 153, in history
    _time.strptime(str(start), '%Y-%m-%d')))
OverflowError: mktime argument out of range

In [ ]:
# Get the all time high value 
ath_dic = dict(p_data[['^DJI', '^GSPC', '^NDX', '^RUT']].max()); 

# Get the latest values
lastest_dic = dict(p_data.iloc[-1,:])

print(ath_dic) 
print(lastest_dic)

{'^DJI': 36799.6484375, '^GSPC': 4796.56005859375, '^NDX': 16573.33984375, '^RUT': 2442.739990234375}
{'^DJI': 33596.609375, '^GSPC': 4304.759765625, '^NDX': 13870.529296875, '^RUT': 1978.734375}

In [ ]:
df_all = pd.read_excel(r"C:\Users\Jinhyun\Documents\GitHub\Python\Investment\Drop rate from All Time High\ATH_v2.xlsx", sheet_name=None, header = 1)
df_ath = df_all['ATH']
display(df_ath)

     Unnamed: 0  DOW  S&P 500  NASDAQ  RUSSELL2000   Unnamed: 5
0    % from ATH  NaN      NaN     NaN          NaN          NaN
1        -0.001  NaN      NaN     NaN          NaN     PULLBACK
2        -0.002  NaN      NaN     NaN          NaN     PULLBACK
3        -0.003  NaN      NaN     NaN          NaN     PULLBACK
4        -0.004  NaN      NaN     NaN          NaN     PULLBACK
..          ...  ...      ...     ...          ...          ...
198      -0.198  NaN      NaN     NaN          NaN  BEAR MARKET
199      -0.199  NaN      NaN     NaN          NaN  BEAR MARKET
200        -0.2  NaN      NaN     NaN          NaN  BEAR MARKET
201         NaN  NaN      NaN     NaN          NaN          NaN
202  % from ATH  NaN      NaN     NaN          NaN          NaN

[203 rows x 6 columns]

In [ ]:
# Chnage name of columns 
df_ath.columns = ['Change', 'DOW', 'S&P 500', 'NASDAQ', 'RUSSELL2000', 'Situation']
display(df_ath)

         Change  DOW  S&P 500  NASDAQ  RUSSELL2000    Situation
0    % from ATH  NaN      NaN     NaN          NaN          NaN
1        -0.001  NaN      NaN     NaN          NaN     PULLBACK
2        -0.002  NaN      NaN     NaN          NaN     PULLBACK
3        -0.003  NaN      NaN     NaN          NaN     PULLBACK
4        -0.004  NaN      NaN     NaN          NaN     PULLBACK
..          ...  ...      ...     ...          ...          ...
198      -0.198  NaN      NaN     NaN          NaN  BEAR MARKET
199      -0.199  NaN      NaN     NaN          NaN  BEAR MARKET
200        -0.2  NaN      NaN     NaN          NaN  BEAR MARKET
201         NaN  NaN      NaN     NaN          NaN          NaN
202  % from ATH  NaN      NaN     NaN          NaN          NaN

[203 rows x 6 columns]

In [ ]:
df_ath_chag = df_ath.iloc[1:201,:] 
display(df_ath_chag)

    Change  DOW  S&P 500  NASDAQ  RUSSELL2000    Situation
1   -0.001  NaN      NaN     NaN          NaN     PULLBACK
2   -0.002  NaN      NaN     NaN          NaN     PULLBACK
3   -0.003  NaN      NaN     NaN          NaN     PULLBACK
4   -0.004  NaN      NaN     NaN          NaN     PULLBACK
5   -0.005  NaN      NaN     NaN          NaN     PULLBACK
..     ...  ...      ...     ...          ...          ...
196 -0.196  NaN      NaN     NaN          NaN  BEAR MARKET
197 -0.197  NaN      NaN     NaN          NaN  BEAR MARKET
198 -0.198  NaN      NaN     NaN          NaN  BEAR MARKET
199 -0.199  NaN      NaN     NaN          NaN  BEAR MARKET
200   -0.2  NaN      NaN     NaN          NaN  BEAR MARKET

[200 rows x 6 columns]

In [ ]:
# {'^DJI': 36799.6484375, '^GSPC': 4796.56005859375, '^NDX': 16573.33984375, '^RUT': 2442.739990234375}
df_ath_chag['DOW'] = (1+df_ath_chag['Change'])*ath_dic['^DJI']
df_ath_chag['S&P 500'] = (1+df_ath_chag['Change'])*ath_dic['^GSPC'] 
df_ath_chag['NASDAQ'] =(1+df_ath_chag['Change'])*ath_dic['^NDX'] 
df_ath_chag['RUSSELL2000'] = (1+df_ath_chag['Change'])*ath_dic['^RUT'] 

display(df_ath_chag)

C:\Users\Jinhyun\AppData\Local\Temp/ipykernel_22132/44799319.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ath_chag['DOW'] = (1+df_ath_chag['Change'])*ath_dic['^DJI']
C:\Users\Jinhyun\AppData\Local\Temp/ipykernel_22132/44799319.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ath_chag['S&P 500'] = (1+df_ath_chag['Change'])*ath_dic['^GSPC']
C:\Users\Jinhyun\AppData\Local\Temp/ipykernel_22132/44799319.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ath_chag['NASDAQ'] =(1+df_ath_chag['Change'])*ath_dic['^NDX']
C:\Users\Jinhyun\AppData\Local\Temp/ipykernel_22132/44799319.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ath_chag['RUSSELL2000'] = (1+df_ath_chag['Change'])*ath_dic['^RUT']

    Change           DOW      S&P 500        NASDAQ  RUSSELL2000    Situation
1   -0.001  36762.848789  4791.763499  16556.766504   2440.29725     PULLBACK
2   -0.002  36726.049141  4786.966938  16540.193164   2437.85451     PULLBACK
3   -0.003  36689.249492  4782.170378  16523.619824   2435.41177     PULLBACK
4   -0.004  36652.449844  4777.373818  16507.046484   2432.96903     PULLBACK
5   -0.005  36615.650195  4772.577258  16490.473145   2430.52629     PULLBACK
..     ...           ...          ...           ...          ...          ...
196 -0.196  29586.917344  3856.434287  13324.965234  1963.962952  BEAR MARKET
197 -0.197  29550.117695  3851.637727  13308.391895  1961.520212  BEAR MARKET
198 -0.198  29513.318047  3846.841167  13291.818555  1959.077472  BEAR MARKET
199 -0.199  29476.518398  3842.044607  13275.245215  1956.634732  BEAR MARKET
200   -0.2   29439.71875  3837.248047  13258.671875  1954.191992  BEAR MARKET

[200 rows x 6 columns]

In [ ]:
print(ath_dic)
print(lastest_dic)

lastest_dic['^DJI']

sorted(list(ath_dic))
sorted(list(lastest_dic))

{'^DJI': 36799.6484375, '^GSPC': 4796.56005859375, '^NDX': 16573.33984375, '^RUT': 2442.739990234375}
{'^DJI': 33596.609375, '^GSPC': 4304.759765625, '^NDX': 13870.529296875, '^RUT': 1978.734375}

['^DJI', '^GSPC', '^NDX', '^RUT']

In [ ]:
result = {}
for index in list(ath_dic):
    result[index] = (ath_dic[index] -lastest_dic[index] )/lastest_dic[index] * 100

result

{'^DJI': 9.533816423997399,
 '^GSPC': 11.424570004950008,
 '^NDX': 19.485994290671645,
 '^RUT': 23.449616133260687}