In [43]:
import pandas as pd
import numpy as np
import re
# !pip install openpyxl

In [44]:
df_all = pd.read_excel(r"C:\Users\Jinhyun\Documents\GitHub\Python\Investment\Top stock pick\2022-02\Feb stock pick data.xlsx", sheet_name=None, header = 1)

In [45]:
def counting_stockpicking(df_all, min_count, save):
    report_lst = list(df_all.keys())
    emp_lst = []

    for report in report_lst:
        check = True
        report_cols = list(df_all[report].columns)
        for col in report_cols:
            if col in ['SYMBOL','Symbol','TICKER', 'Ticker', 'Stock (ticker)', 'Company / Ticker','Stocks', 'Company', 'Stock']:
                if '(' in str(list(df_all[report][col])[0]):
                    tmp_lst = list(map(lambda x : re.findall('\(([^)]+)', x), list(df_all[report][col])))
                    emp_lst.append(sum(tmp_lst, []))
                else:
                    emp_lst.append(list(df_all[report][col]))
                check = False

        if check:
            print("*************************************")
            print("Warning!!")
            print("No ticker or symbol")
            print("Need an addittional action")
            print("Report name: ", report)
            print("Report columns: ", df_all[report].columns)
            print("*************************************")
    print('*************************************')
    print('Counted TICKERS')
    result = sum(emp_lst,[])
    count_result =[(i, result.count(i)) for i in result if result.count(i) >= min_count]
    result_rank = pd.DataFrame(sorted(list(set(count_result)), key=lambda x : x[1], reverse = True), columns = ['TICKER','COUNT'])
    # print(result)

    if save.upper() == 'YES':
        result_rank.to_excel('result_rank.xlsx')

    return result_rank
counting_stockpicking(df_all, 0,'yes')

*************************************
Counted TICKERS

                         TICKER  COUNT
0                           COP      9
1                            MU      9
2                          QCOM      8
3                           XOM      8
4                          PYPL      7
..                          ...    ...
786                         LNG      1
787                        SAIL      1
788                          L       1
789  Fleetcor Technologies Inc.      1
790            Match Group Inc.      1

[791 rows x 2 columns]

In [46]:
def Theme_categorizing(df_all, min_count, save):
    report_lst = list(df_all.keys())

    filter_lst = []
    result_dic = {}
    for report in report_lst:
        emp_lst = []
        check = True
        report_cols = list(df_all[report].columns)
        for col in report_cols:
            if col in ['SYMBOL','Symbol','TICKER', 'Ticker', 'Stock (ticker)', 'Company / Ticker']:
                if '(' in str(list(df_all[report][col])[0]):
                    emp_lst.append(sum(list(map(lambda x : re.findall('\(([^)]+)', x), list(df_all[report][col]))),[]))
                else:
                    emp_lst.append(list(df_all[report][col]))
                result_dic[report] = emp_lst
                check = False            
    result = sum(emp_lst,[])
    # print(result)
    # print(result_dic)
    if save.upper() == 'YES':
        pd.DataFrame(result_dic).stack().to_excel(f'Theme_minimum_count_{min_count}.xlsx')
    return result_dic

In [47]:
tmp_count = counting_stockpicking(df_all, 0,'yes')
tmp_theme =  Theme_categorizing(df_all, 0, 'YES')

*************************************
Counted TICKERS

In [48]:
for i in tmp_theme.keys():
    ticker_checker = sum(tmp_theme[i], [])
    tmp_count[f'{i}'] = tmp_count['TICKER'].apply(lambda x: i if x in ticker_checker else ',')
tmp_count['Theme'] = tmp_count[tmp_theme.keys()].apply(' '.join, axis=1)
tmp_count = tmp_count.drop(list(tmp_theme.keys()), axis = 'columns')
tmp_count

,TICKER,COUNT,Theme
0,COP,9,AXS INFLATION SENSITIVE ETF TOP ENERGY COMPANI...
1,MU,9,", , , , Buy-rated stocks that are expec , Gold..."
2,QCOM,8,", , , , Buy-rated stocks that are expec , Gold..."
3,XOM,8,", , JPMORGAN’S INFLATION OUTPERFORM , , , , , ..."
4,PYPL,7,", , , , , , , , , , Tech value stock screen , ..."
...,...,...,...
786,LNG,1,", , , , , , , , , , , , , , , , , , , , , , , ..."
787,SAIL,1,", , , , , , , , , , , , , , , , , , , , , , , ..."
788,L,1,", , , , , , , , , , , , , , , , Inflation Sens..."
789,Fleetcor Technologies Inc.,1,", , , , , , , , , , , , , , , , , , , , , , , ..."
790,Match Group Inc.,1,", , , , , , , , , , , , , , , , , , , , , , , ..."

In [53]:
def count_theme(count_xlxs, theme_xlxs):
    for i in theme_xlxs.keys():
        ticker_checker = sum(theme_xlxs[i], [])
        count_xlxs[f'{i}'] = count_xlxs['TICKER'].apply(lambda x: i if x in ticker_checker else ',')
    count_xlxs['Theme'] = count_xlxs[theme_xlxs.keys()].apply(' '.join, axis=1)
    count_xlxs = count_xlxs.drop(list(theme_xlxs.keys()), axis = 'columns')
    count_xlxs.to_excel(f'count_theme.xlsx')
    
    return count_xlxs    
    # count_xlxs.to_excel(f'count_theme.xlsx')

In [54]:
count_theme(tmp_count, tmp_theme)

,TICKER,COUNT,Theme
0,COP,9,AXS INFLATION SENSITIVE ETF TOP ENERGY COMPANI...
1,MU,9,", , , , Buy-rated stocks that are expec , Gold..."
2,QCOM,8,", , , , Buy-rated stocks that are expec , Gold..."
3,XOM,8,", , JPMORGAN’S INFLATION OUTPERFORM , , , , , ..."
4,PYPL,7,", , , , , , , , , , Tech value stock screen , ..."
...,...,...,...
786,LNG,1,", , , , , , , , , , , , , , , , , , , , , , , ..."
787,SAIL,1,", , , , , , , , , , , , , , , , , , , , , , , ..."
788,L,1,", , , , , , , , , , , , , , , , Inflation Sens..."
789,Fleetcor Technologies Inc.,1,", , , , , , , , , , , , , , , , , , , , , , , ..."
790,Match Group Inc.,1,", , , , , , , , , , , , , , , , , , , , , , , ..."