In [7]:
import pandas as pd
# Read csv file

data2 =pd.read_csv("./concisedataV2.csv")

#

In [8]:

# 1 means defect
# 0 menas cooperate

data2

,Gender,Major,Country,COMMUNITY,WALL STREET,Result
0,Male,Economics and Business Economics,Europe,1.0,NaN,1
1,Male,Business Administration,Europe,NaN,1.0,1
2,Female,Economics and Business Economics,Europe,NaN,1.0,1
3,Male,Business Administration,Europe,1.0,NaN,1
4,Female,Business Administration,Europe,NaN,1.0,0
...,...,...,...,...,...,...
72,Female,Business Administration,Europe,NaN,1.0,1
73,Female,Economics and Business Economics,Asia,NaN,1.0,1
74,Female,Business Administration,Europe,1.0,NaN,1
75,Female,Economics and Business Economics,Asia,1.0,NaN,1
76,Male,Economics and Business Economics,Asia,NaN,1.0,1

In [9]:
data2[['COMMUNITY', 'WALL STREET']] = data2[['COMMUNITY','WALL STREET']].fillna(0)
data2

,Gender,Major,Country,COMMUNITY,WALL STREET,Result
0,Male,Economics and Business Economics,Europe,1.0,0.0,1
1,Male,Business Administration,Europe,0.0,1.0,1
2,Female,Economics and Business Economics,Europe,0.0,1.0,1
3,Male,Business Administration,Europe,1.0,0.0,1
4,Female,Business Administration,Europe,0.0,1.0,0
...,...,...,...,...,...,...
72,Female,Business Administration,Europe,0.0,1.0,1
73,Female,Economics and Business Economics,Asia,0.0,1.0,1
74,Female,Business Administration,Europe,1.0,0.0,1
75,Female,Economics and Business Economics,Asia,1.0,0.0,1
76,Male,Economics and Business Economics,Asia,0.0,1.0,1

In [11]:
data2 = pd.get_dummies(data2, prefix=['Gender', 'Major','Country'])
data2

,COMMUNITY,WALL STREET,Result,Gender_Female,Gender_Male,Major_Business Administration,Major_Econometrics,Major_Economics and Business Economics,Country_Africa,Country_America,Country_Asia,Country_Europe
0,1.0,0.0,1,0,1,0,0,1,0,0,0,1
1,0.0,1.0,1,0,1,1,0,0,0,0,0,1
2,0.0,1.0,1,1,0,0,0,1,0,0,0,1
3,1.0,0.0,1,0,1,1,0,0,0,0,0,1
4,0.0,1.0,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
72,0.0,1.0,1,1,0,1,0,0,0,0,0,1
73,0.0,1.0,1,1,0,0,0,1,0,0,1,0
74,1.0,0.0,1,1,0,1,0,0,0,0,0,1
75,1.0,0.0,1,1,0,0,0,1,0,0,1,0
76,0.0,1.0,1,0,1,0,0,1,0,0,1,0

In [14]:
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
X=data2.drop(columns=['Result'])
y=data2['Result']
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.487199
         Iterations: 35
                                               Results: Logit
============================================================================================================
Model:                              Logit                          Pseudo R-squared:               0.215
Dependent Variable:                 Result                         AIC:                            91.0286
Date:                               2021-07-02 13:33               BIC:                            109.7790
No. Observations:                   77                             Log-Likelihood:                 -37.514
Df Model:                           7                              LL-Null:                        -47.774
Df Residuals:                       69                             LLR p-value:                    0.0045496
Converged:                          0.0000                         Scale:                          1.0000
No. Iterations:                     35.0000
------------------------------------------------------------------------------------------------------------
                                        Coef.      Std.Err.       z    P>|z|       [0.025         0.975]
------------------------------------------------------------------------------------------------------------
COMMUNITY                               -1.1427 209063549.6377 -0.0000 1.0000 -409757028.9127 409757026.6273
WALL STREET                             -1.4761 188731011.0940 -0.0000 1.0000 -369905985.9860 369905983.0339
Gender_Female                           -1.2013 208432302.5542 -0.0000 1.0000 -408519807.4223 408519805.0197
Gender_Male                             -1.4174 212163003.9225 -0.0000 1.0000 -415831847.9574 415831845.1225
Major_Business Administration           -2.0490            nan     nan    nan             nan            nan
Major_Econometrics                      -0.8508            nan     nan    nan             nan            nan
Major_Economics and Business Economics   0.2810            nan     nan    nan             nan            nan
Country_Africa                         -15.0834            nan     nan    nan             nan            nan
Country_America                          3.4508            nan     nan    nan             nan            nan
Country_Asia                             4.4346            nan     nan    nan             nan            nan
Country_Europe                           4.5792            nan     nan    nan             nan            nan
============================================================================================================

C:\Users\user\anaconda uva\lib\site-packages\statsmodels\base\model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
C:\Users\user\anaconda uva\lib\site-packages\statsmodels\base\model.py:1354: RuntimeWarning: invalid value encountered in sqrt
  bse_ = np.sqrt(np.diag(self.cov_params()))
C:\Users\user\anaconda uva\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)