In [1]:
print('hi')

hi

In [5]:
import pandas as pd

df = pd.read_excel (r'C:\Users\user\Documents\GitHub\Python\UvA material\Financial markets\KrispyKreme2021.xlsx')
print (df)

         t      Time  Trade Size (|q_t|)  Price (p_t)  Direction (d_t)  \
0        1  09:30:02                 200         2.99               -1
1        2  09:32:28                 500         3.01                1
2        3  09:33:35                 100         3.02               -1
3        4  09:33:38                 100         3.00                1
4        5  09:34:09                 100         3.03                1
...    ...       ...                 ...          ...              ...
1444  1445  15:59:12                 200         3.06                1
1445  1446  15:59:12                 200         3.06                1
1446  1447  15:59:12                 200         3.06                1
1447  1448  15:59:12                 200         3.06                1
1448  1449  15:59:22                 200         3.06                1

      Bid (b_t)  Ask (a_t)  Unnamed: 7
0          2.90       3.08         NaN
1          2.88       3.08         NaN
2          3.01       3.08         NaN
3          3.00       3.08         NaN
4          3.02       3.08         NaN
...         ...        ...         ...
1444       2.97       3.10         NaN
1445       2.97       3.10         NaN
1446       2.97       3.10         NaN
1447       2.97       3.10         NaN
1448       3.04       3.08         NaN

[1449 rows x 8 columns]

(a) 

For each transaction, compute (but do not report in your solution) 
(i) the quoted spread in absolute terms; 
(ii) the quoted spread in relative terms; 
(iii) the effective half-spread in absolute terms; 
(iv) the effective half-spread in relative terms.

# (i)
# the quoted spread in absolute terms = the best ask - the best bid

In [6]:
df.columns
# df_bid = df['Bid (b_t)']

Index(['t', 'Time', 'Trade Size (|q_t|)', 'Price (p_t)', 'Direction (d_t)',
       'Bid (b_t)', 'Ask (a_t)', 'Unnamed: 7'],
      dtype='object')

In [10]:
df_bid = df['Bid (b_t)']
df_ask = df['Ask (a_t)']
df_bid_ask_spread = df_ask - df_bid

In [14]:
df_bid_ask_spread

0       0.18
1       0.20
2       0.07
3       0.08
4       0.06
        ...
1444    0.13
1445    0.13
1446    0.13
1447    0.13
1448    0.04
Length: 1449, dtype: float64

In [13]:
print(df_bid_ask_spread.mean())

0.024423740510696998

# (ii)
# the quoted spread in relative terms 
# = (the best ask - the best bid)/midquote

In [15]:
df_bid_midquote = (df_ask - df_bid)/2
df_bid_midquote

0       0.090
1       0.100
2       0.035
3       0.040
4       0.030
        ...
1444    0.065
1445    0.065
1446    0.065
1447    0.065
1448    0.020
Length: 1449, dtype: float64

In [17]:
df_spread_relative = df_bid_ask_spread/df_bid_midquote
df_spread_relative

0       2.0
1       2.0
2       2.0
3       2.0
4       2.0
       ...
1444    2.0
1445    2.0
1446    2.0
1447    2.0
1448    2.0
Length: 1449, dtype: float64

# (iii)
# the effective half spread in absolute terms 
# = order direction (dt = 1: buy order, dt = -1: sell order) x ( transaction price - mid price just before execution)

In [18]:
df.columns

Index(['t', 'Time', 'Trade Size (|q_t|)', 'Price (p_t)', 'Direction (d_t)',
       'Bid (b_t)', 'Ask (a_t)', 'Unnamed: 7'],
      dtype='object')

In [19]:
df_eff_half_abs = df['Direction (d_t)']*(df['Price (p_t)'] - (df_ask - df_bid)/2)
df_eff_half_abs

0      -2.900
1       2.910
2      -2.985
3       2.960
4       3.000
        ...
1444    2.995
1445    2.995
1446    2.995
1447    2.995
1448    3.040
Length: 1449, dtype: float64

# (iiii)
# the effective half spread in relative terms 
# = the effective half spread in absolute terms/mid price just before execution

In [20]:
df_eff_half_relative = (df['Direction (d_t)']*(df['Price (p_t)'] - (df_ask - df_bid)/2))/ ((df_ask - df_bid)/2)
df_eff_half_relative

0       -32.222222
1        29.100000
2       -85.285714
3        74.000000
4       100.000000
           ...
1444     46.076923
1445     46.076923
1446     46.076923
1447     46.076923
1448    152.000000
Length: 1449, dtype: float64

2. For each trade, starting from the 101-th trade, compute the average of the (quoted)
relative spread for the past 100 trades. Plot a graph of your results. What kind of
pattern emerges over the day?

In [23]:
df_100th = df.iloc[0:101,::]
df_100th

,t,Time,Trade Size (|q_t|),Price (p_t),Direction (d_t),Bid (b_t),Ask (a_t),Unnamed: 7
0,1,09:30:02,200,2.99,-1,2.90,3.08,NaN
1,2,09:32:28,500,3.01,1,2.88,3.08,NaN
2,3,09:33:35,100,3.02,-1,3.01,3.08,NaN
3,4,09:33:38,100,3.00,1,3.00,3.08,NaN
4,5,09:34:09,100,3.03,1,3.02,3.08,NaN
...,...,...,...,...,...,...,...,...
96,97,10:01:15,100,3.05,1,3.04,3.05,NaN
97,98,10:01:15,100,3.05,1,3.04,3.05,NaN
98,99,10:01:22,100,3.04,-1,3.04,3.05,NaN
99,100,10:02:36,800,3.04,-1,3.04,3.05,NaN
100,101,10:02:51,2000,3.04,-1,3.04,3.05,NaN