I have gathered all the reports from various institutions or companies. Here I would like to count the number of recommendations for each stocks.

In [ ]:
import pandas as pd
import numpy as np
import re
# !pip install openpyxl

In [42]:
df_all = pd.read_excel(r"C:\Users\Jinhyun\Documents\GitHub\Python\Investment\Jan stock summary\data2.xlsx", sheet_name=None, header = 1)

In [92]:
def processing(df_all, min_count, save):
    report_lst = list(df_all.keys())
    emp_lst = []

    for report in report_lst:
        check = True
        report_cols = list(df_all[report].columns)
        for col in report_cols:
            if col in ['SYMBOL','Symbol','TICKER', 'Ticker', 'Stock (ticker)', 'Company / Ticker']:
                if '(' in str(list(df_all[report][col])[0]):
                    tmp_lst = list(map(lambda x : re.findall('\(([^)]+)', x), list(df_all[report][col])))
                    emp_lst.append(sum(tmp_lst, []))
                else:
                    emp_lst.append(list(df_all[report][col]))
                check = False

        if check:
            print("*************************************")
            print("Warning!!")
            print("No ticker or symbol")
            print("Need an addittional action")
            print("Report name: ", report)
            print("Report columns: ", df_all[report].columns)
            print("*************************************")
    print('*************************************')
    print('Counted TICKERS')
    result = sum(emp_lst,[])
    # count_result =[(i, result.count(i)) for i in result if result.count(i) >= min_count]
    count_result =[(i, result.count(i)) for i in result]
    result_rank = pd.DataFrame(sorted(list(set(count_result)), key=lambda x : x[1], reverse = True), columns = ['TICKER','COUNT'])
    # print(result)

    if save.upper() == 'YES':
        result_rank.to_excel(f'result_rank_all.xlsx')

    return result_rank
processing(df_all, 5,'yes')

*************************************
Warning!!
No ticker or symbol
Need an addittional action
Report name:  Best Value-Stock Picks - Best V
Report columns:  Index(['Stock', 'P/E ratio (based on trailing 12 months’ earnings)',
       'Price/book ratio', 'Dividend yield'],
      dtype='object')
*************************************
*************************************
Counted TICKERS

    TICKER  COUNT
0     PYPL     10
1     AMZN     10
2      CRM      9
3      DIS      8
4     AAPL      8
..     ...    ...
605    XRT      1
606   SPGI      1
607   POOL      1
608   ESTE      1
609   AMCR      1

[610 rows x 2 columns]

In [90]:
def processing2(df_all, min_count, save):
    report_lst = list(df_all.keys())
    result_rank = list(processing(df_all, min_count, save)['TICKER'])
    filter_lst = []
    result_dic = {}
    for report in report_lst:
        emp_lst = []
        report_cols = list(df_all[report].columns)
        for col in report_cols:
            if col in ['SYMBOL','Symbol','TICKER', 'Ticker', 'Stock (ticker)', 'Company / Ticker']:
                if '(' in str(list(df_all[report][col])[0]):
                    emp_lst.append(sum(list(map(lambda x : re.findall('\(([^)]+)', x), list(df_all[report][col]))),[]))
                else:
                    emp_lst.append(list(df_all[report][col]))
                
                emp_lst = sum(emp_lst, [])
                emp_lst = [i for i in emp_lst if i in result_rank]
                result_dic[report] = emp_lst
  
    with open(f'stocks by report over {min_count} times.txt', 'w', encoding = 'UTF-8') as f:
        for article, stocks in result_dic.items():
            f.write(f'{article} : {stocks}\n')
    print(result_dic)


processing2(df_all, 8,'yes')

*************************************
Warning!!
No ticker or symbol
Need an addittional action
Report name:  Best Value-Stock Picks - Best V
Report columns:  Index(['Stock', 'P/E ratio (based on trailing 12 months’ earnings)',
       'Price/book ratio', 'Dividend yield'],
      dtype='object')
*************************************
*************************************
Counted TICKERS
{'Fastest-Growing Stocks Expectin': [], "Analysts' Favorite S&P 500 Valu": ['ALK'], 'Analysts’ Price Targets, S&P 50': ['AMZN'], 'Dividend Growth Stocks - Divide': [], 'Consumer Discretionary Sector -': ['AMZN'], 'MORGAN STANLEY’S FAVORITE STOCK': [], 'NASDAQ 100 REBOUND CANDIDATES -': ['AMZN', 'FB', 'PYPL'], 'Inflation-sensitive Stocks - In': ['AAPL', 'CRM', 'MSFT', 'PYPL'], 'WOLFE’S STOCK PICKS FOR A STEEP': [], 'THESE STOCKS CAN DO WELL WHEN I': ['DIS'], 'Top Value S&P 500 Stocks - Top ': [], 'GOLDMAN’S EARNINGS UPSIDE_DOWNS': ['BA'], 'EVERCORE ISI’S “AT THE MARGINS”': [], '25 Cheapest Stocks - 25 Cheapes': [], 'JPMORGAN_ JANUARY FOCUS LIST - ': ['ALK', 'FB', 'AAPL'], 'Stocks reporting next week usua': [], 'Worst S&P 500 performers from 5': ['PYPL'], 'Semiconductor stock screen - Se': [], 'Sector Themes in 2022 - Sector ': [], 'GOLDMAN SACHS’ CHEAP AND HIGH-V': ['FB'], 'RATE HIKE DOW WINNERS _ LOSERS ': ['BA', 'CRM'], '14 bank stocks expected to achi': [], 'Cheap Russell 1000 stocks based': [], 'BANK OF AMERICA’S FAVORITE SEMI': [], 'Russell 1000 companies with hig': [], 'Consistent winners when tech is': [], '39 stocks in the S&P 500 that h': ['CRM'], 'CREDIT SUISSE’S TOP PICKS FOR J': ['MSFT', 'AMZN', 'DIS'], 'Cash Cow Value Stocks - Cash Co': [], 'These big tech stocks have drop': ['PYPL', 'CRM'], 'DIVIDEND ETF TOP 10 STOCKS YTD ': [], 'RETURN DURING 7 BIGGEST MONTHLY': ['BA'], '20 cheap value stocks - 20 chea': [], 'RBC CAPITAL MARKETS_ TOP IDEAS ': ['AMZN'], '23 dividend stocks that can pas': [], 'BANK OF AMERICA’S TOP U.S. STOC': [], 'Goldman says to pick stocks in ': ['AAPL'], 'The ‘best’ dividend compounders': [], 'RBC’S LONG-TERM PICKS FOR PATIE': ['PYPL'], 'Goldman’s favorite dividend and': ['AAPL'], 'Wall Street analysts’ favorite ': ['CRM', 'BA', 'DIS', 'MSFT', 'AAPL', 'ALK', 'PYPL', 'CRM'], 'GOLDMAN SACHS_ TOP STOCKS FOR 2': ['AMZN', 'BA'], 'BANK OF AMERICA’S TOP PICKS FOR': ['DIS'], 'Stocks in bear markets that ana': ['ALK', 'PYPL', 'BA', 'DIS'], 'CHEAPEST STOCKS FOR 2022 - CHEA': ['ALK'], "Wall Street's favorite Nasdaq s": ['AMZN', 'MSFT'], "Wall Street's favorite Dow stoc": ['CRM', 'DIS', 'MSFT'], "Barron's Stock Picks for 2022 -": [], "BofA's Top Stock Picks For 2022": ['DIS'], 'WELLS FARGO’S DOWNSIDE PROTECTI': ['FB', 'MSFT', 'AAPL'], 'STOCKS WITH EARNINGS STABILITY ': ['FB', 'PYPL'], 'JEFFERIES TOP STOCK PICKS FOR 2': ['AMZN'], 'JPMORGAN’S TOP INTERNET STOCK P': ['AMZN', 'FB'], 'UBS’ HIGH CONVICTION STOCK PICK': ['ALK', 'MSFT'], 'Stocks that work well when the ': [], 'STOCKS WITH FAST REVENUE GROWTH': ['PYPL', 'FB'], "S&P 500 Sectors' Cheapest Stock": ['ALK'], 'JEFFERIES_ INFLATION STOCK PICK': ['BA'], 'Dividend-stock screen results -': [], 'S&P500, Market Cap $10bn, GPM 5': ['MSFT', 'FB'], 'JP Morgan’s Top Picks for 2022 ': ['AMZN', 'AAPL', 'DIS', 'PYPL'], 'MORGAN STANLEY’S LARGE CAP DEFE': [], 'Investors eagerly buy the dip —': ['CRM', 'BA', 'ALK'], 'STOCKS WITH EARNINGS UPSIDE FOR': [], 'GOLDMAN STOCK PICKS WITH HIGH P': [], 'UBS’ HIGH CONVICTION STOCKS WIT': ['CRM', 'AAPL'], "Barclays' 2022 earnings revisio": []}