In [2]:
import pandas as pd
import numpy as np
import re
# !pip install openpyxl

In [7]:
df_all = pd.read_excel(r"C:\Users\Jinhyun\Documents\GitHub\Python\Stock data\Jan stock summary\data.xlsx", sheet_name=None, header = 1)

In [10]:
def processing(df_all, min_count, save):
    report_lst = list(df_all.keys())
    emp_lst = []

    for report in report_lst:
        check = True
        report_cols = list(df_all[report].columns)
        for col in report_cols:
            if col in ['SYMBOL','Symbol','TICKER', 'Ticker', 'Stock (ticker)', 'Company / Ticker']:
                if '(' in str(list(df_all[report][col])[0]):
                    tmp_lst = list(map(lambda x : re.findall('\(([^)]+)', x), list(df_all[report][col])))
                    emp_lst.append(sum(tmp_lst, []))
                else:
                    emp_lst.append(list(df_all[report][col]))
                check = False

        if check:
            print("*************************************")
            print("Warning!!")
            print("No ticker or symbol")
            print("Need an addittional action")
            print("Report name: ", report)
            print("Report columns: ", df_all[report].columns)
            print("*************************************")

    result = sum(emp_lst,[])
    count_result =[(i, result.count(i)) for i in result if result.count(i) >= min_count]
    result_rank = pd.DataFrame(sorted(list(set(count_result)), key=lambda x : x[1], reverse = True), columns = ['TICKER','COUNT'])
    # print(result_rank)

    if save.upper() == 'YES':
        result_rank.to_excel('result_rank.xlsx')

    return result_rank
processing(df_all, 3,'yes')

*************************************
Warning!!
No ticker or symbol
Need an addittional action
Report name:  Best Value-Stock Picks - Best V
Report columns:  Index(['Stock', 'P/E ratio (based on trailing 12 months’ earnings)',
       'Price/book ratio', 'Dividend yield'],
      dtype='object')
*************************************
    TICKER  COUNT
0     AMZN      9
1      ALK      8
2       BA      8
3     PYPL      8
4      CRM      8
..     ...    ...
110   ALGN      3
111   CDAY      3
112    LOW      3
113   AVGO      3
114   SCHW      3

[115 rows x 2 columns]

    TICKER  COUNT
0     AMZN      9
1      ALK      8
2       BA      8
3     PYPL      8
4      CRM      8
..     ...    ...
110   ALGN      3
111   CDAY      3
112    LOW      3
113   AVGO      3
114   SCHW      3

[115 rows x 2 columns]

In [ ]:
def processing2(df_all, min_count, save):
    report_lst = list(df_all.keys())

    filter_lst = []
    result_dic = {}
    for report in report_lst:
        emp_lst = []
        check = True
        report_cols = list(df_all[report].columns)
        for col in report_cols:
            if col in ['SYMBOL','Symbol','TICKER', 'Ticker', 'Stock (ticker)', 'Company / Ticker']:
                if '(' in str(list(df_all[report][col])[0]):
                    emp_lst.append(sum(list(map(lambda x : re.findall('\(([^)]+)', x), list(df_all[report][col]))),[]))
                else:
                    emp_lst.append(list(df_all[report][col]))
                result_dic[report] = emp_lst
                check = False            
    result = sum(emp_lst,[])
    # print(result)
    print(result_dic)
    if save.upper() == 'YES':
        pd.DataFrame(result_dic).to_excel('result2.xlsx')
    return result_dic