In [25]:
import pandas as pd
# Read csv file

data2 =pd.read_csv("./concisedataV3.csv")

#

In [26]:

# 1 means defect
# 0 menas cooperate

data2

,Gender,Major,Country,COMMUNITY,WALL STREET,AVERAGE COMPETITIVENESS SCORE,Result
0,Male,Economics and Business Economics,Europe,1.0,NaN,3.428571,1
1,Male,Business Administration,Europe,NaN,1.0,4.142857,1
2,Female,Economics and Business Economics,Europe,NaN,1.0,3.714286,1
3,Male,Business Administration,Europe,1.0,NaN,4.714286,1
4,Female,Business Administration,Europe,NaN,1.0,2.000000,0
...,...,...,...,...,...,...,...
82,Female,Econometrics,Europe,1.0,NaN,3.000000,1
83,Female,Business Administration,Asia,1.0,NaN,3.857143,0
84,Female,Economics and Business Economics,Asia,1.0,NaN,3.285714,1
85,Female,Business Administration,Europe,1.0,NaN,2.857143,0
86,Male,Business Administration,Europe,NaN,1.0,2.714286,0

In [27]:
data2[['COMMUNITY', 'WALL STREET']] = data2[['COMMUNITY','WALL STREET']].fillna(0)
data2

,Gender,Major,Country,COMMUNITY,WALL STREET,AVERAGE COMPETITIVENESS SCORE,Result
0,Male,Economics and Business Economics,Europe,1.0,0.0,3.428571,1
1,Male,Business Administration,Europe,0.0,1.0,4.142857,1
2,Female,Economics and Business Economics,Europe,0.0,1.0,3.714286,1
3,Male,Business Administration,Europe,1.0,0.0,4.714286,1
4,Female,Business Administration,Europe,0.0,1.0,2.000000,0
...,...,...,...,...,...,...,...
82,Female,Econometrics,Europe,1.0,0.0,3.000000,1
83,Female,Business Administration,Asia,1.0,0.0,3.857143,0
84,Female,Economics and Business Economics,Asia,1.0,0.0,3.285714,1
85,Female,Business Administration,Europe,1.0,0.0,2.857143,0
86,Male,Business Administration,Europe,0.0,1.0,2.714286,0

In [28]:
data2 = pd.get_dummies(data2, prefix=['Gender', 'Major','Country'])
data2

,COMMUNITY,WALL STREET,AVERAGE COMPETITIVENESS SCORE,Result,Gender_Female,Gender_Male,Major_Business Administration,Major_Econometrics,Major_Economics and Business Economics,Country_Africa,Country_America,Country_Asia,Country_Europe
0,1.0,0.0,3.428571,1,0,1,0,0,1,0,0,0,1
1,0.0,1.0,4.142857,1,0,1,1,0,0,0,0,0,1
2,0.0,1.0,3.714286,1,1,0,0,0,1,0,0,0,1
3,1.0,0.0,4.714286,1,0,1,1,0,0,0,0,0,1
4,0.0,1.0,2.000000,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,1.0,0.0,3.000000,1,1,0,0,1,0,0,0,0,1
83,1.0,0.0,3.857143,0,1,0,1,0,0,0,0,1,0
84,1.0,0.0,3.285714,1,1,0,0,0,1,0,0,1,0
85,1.0,0.0,2.857143,0,1,0,1,0,0,0,0,0,1
86,0.0,1.0,2.714286,0,0,1,1,0,0,0,0,0,1

In [29]:
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
X=data2.drop(columns=['Result'])
y=data2['Result']
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.492904
         Iterations: 35
                                             Results: Logit
=========================================================================================================
Model:                             Logit                         Pseudo R-squared:              0.215
Dependent Variable:                Result                        AIC:                           103.7652
Date:                              2021-07-02 13:56              BIC:                           125.9584
No. Observations:                  87                            Log-Likelihood:                -42.883
Df Model:                          8                             LL-Null:                       -54.658
Df Residuals:                      78                            LLR p-value:                   0.0027255
Converged:                         0.0000                        Scale:                         1.0000
No. Iterations:                    35.0000
---------------------------------------------------------------------------------------------------------
                                        Coef.      Std.Err.      z    P>|z|      [0.025         0.975]
---------------------------------------------------------------------------------------------------------
COMMUNITY                               -2.2051 18100258.1237 -0.0000 1.0000 -35475856.2384 35475851.8282
WALL STREET                             -2.2037 18100258.1237 -0.0000 1.0000 -35475856.2371 35475851.8296
AVERAGE COMPETITIVENESS SCORE            0.4471        0.4501  0.9934 0.3205        -0.4350        1.3292
Gender_Female                           -2.0690 14767539.4539 -0.0000 1.0000 -28943847.5389 28943843.4009
Gender_Male                             -2.3398 14767539.4539 -0.0000 1.0000 -28943847.8097 28943843.1301
Major_Business Administration           -2.8159 24360608.7668 -0.0000 1.0000 -47745918.6403 47745913.0085
Major_Econometrics                      -1.1958 24360608.7668 -0.0000 1.0000 -47745917.0202 47745914.6286
Major_Economics and Business Economics  -0.3971 24360608.7668 -0.0000 1.0000 -47745916.2215 47745915.4273
Country_Africa                         -19.4449 17840413.1038 -0.0000 1.0000 -34966586.5976 34966547.7078
Country_America                          4.4015 17837765.4033  0.0000 1.0000 -34961373.3537 34961382.1567
Country_Asia                             5.2416 17837765.4033  0.0000 1.0000 -34961372.5136 34961382.9968
Country_Europe                           5.3930 17837765.4033  0.0000 1.0000 -34961372.3622 34961383.1482
=========================================================================================================

C:\Users\user\anaconda uva\lib\site-packages\statsmodels\base\model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "